/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.logoFont
{
	fontSize: 15;
	color: #9933FF;
	fontStyle: italic;
	fontWeight: bold;
}

.subLogoFont
{
	fontSize: 15;
}

.appBackground
{
	background-color: #4682B4;
	background-alpha: 0.5;
}

