/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


@font-face
{
	font-family: MyFontBold;
	src: url("assets/MgOpenModataBold.ttf");
	embedAsCFF: true;
	font-weight:normal;
}

@font-face
{
	font-family: MyFont;
	src: url("assets/MgOpenModataRegular.ttf");
	embedAsCFF: true;
	font-weight:normal;
}

.appBackground
{
	background-color: #ffffff;
}

.buttonLabel
{
	font-size: 18px;
	font-family: MyFontBold;
	color:#FFFFFF;
}

.headerLabel
{
	font-size: 14px;
}

s|Label
{
	font-family: MyFont;
	color: #4A4A4A
}
s|TextInput
{
	skin-class: ClassReference("view.defaultView.skin.TextInput1");
}

s|TextArea
{
	skin-class: ClassReference("view.defaultView.skin.TextAreaSkin1");
}

s|CheckBox
{
	skin-class: ClassReference("view.defaultView.skin.CheckBoxSkin1");
}
s|List
{
	skin-class: ClassReference("view.defaultView.skin.ListSkin1");
}